.main-wrapper {
    height: 100%;
    padding-top: 25px;
    color: #fff;
  }
  
  .navbar {
    padding: 2px !important;
    background-color: grey !important;
    border-radius: 20px;
  }
  
  .navbar a {
    color: #fff;
  }
  
  .newBtn {
    border: 1px solid #fff;
    margin-right: 15px;
    transition: 0.5s all;
  }
  .newBtn:hover {
    border: 1px solid green;
  }
  
  .navbar .navbar-brand {
    font-size: 35px;
  }
  
  .app-wrapper {
    width: 100%;
    padding: 10px;
  }
  