<div class="form-wrapper">
    <h3 class="text-center">Make your own Quote</h3> <br> <br>
    <form
      #quoteForm="ngForm"
      (ngSubmit)="quoteForm.form.valid && submitQuote(); quoteForm.resetForm({})"
    >
      <div class="mb-3">
        <label for="quoteTitle" class="form-label">Quote Theme (e.g. Courage)</label>
        <input
          type="text"
          class="form-control"
          id="quoteTitle"
          [(ngModel)]="newQuote.quoteTitle"
          name="quoteTitle"
          #quoteTitle="ngModel"
          placeholder="Add a Qoute Theme"
          required
          [ngClass]="{
            'border-danger': quoteTitle.pristine && quoteTitle.invalid
          }"
        />
      </div>
      <div class="mb-3">
        <label for="quote" class="form-label">Quote (e.g. To live is to laugh)</label>
        <textarea
          id="quote"
          type="text"
          class="form-control"
          cols="30"
          rows="4"
          [(ngModel)]="newQuote.quoteText"
          name="  quoteText"
          #quote="ngModel"
          placeholder="Add the Quote"
        ></textarea>
      </div>
      <!--<div class="mb-3">
        <label for="quoteAuthor" class="form-label">Quote Author</label>
        <input
          type="text"
          class="form-control"
          id="quoteAuthor"
          [(ngModel)]="newQuote.authorName"
          name="authorName"
          #authorName="ngModel"
          placeholder="Add author name"
        /> 
      </div> -->
      <div class="mb-3">
        <label for="userName" class="form-label">Your Name (e.g. Jane Smith)</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          [(ngModel)]="newQuote.userName"
          name="userName"
          #userName="ngModel"
          placeholder="Add Your Name"
        />
      </div>
  
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
  </div>
  
